@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
}
header
{
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #4169E1;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo
{
  color: white;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
nav
{
  float: right;
}
.clearfix
{
  clear: both;
}
nav ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  text-decoration: none;
  color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
  background: #063970
  color: #fff;
  transition: 0.5s;
}
h1
{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: center;
  color: #069370;
  font-weight: 600;
}
div h1
{
  font-size: 30px;
  text-align: left;
  color:  #069370;
  font-weight: 600;
  font-family: 'Source Serif Pro', serif;
}
div span
{
  font-size: 20px;
  color: black;
  font: bold;
}
.mySlides
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
div.r
{
  width: 90;
  height: 60px;
  box-sizing : border-box;
  background: #4169E1;
  color: white;
  size: 60px;
  text-align: center;
}
div.r span
{
  font-size: 35px;
  font-family: 'Cantarell', sans-serif;
  color: white
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

div.text span
{
  font-size: 30px;
  text-align: center;
  color:  #069370;
  font-weight: 600;
  font-family: 'Source Serif Pro', serif;
}
div.text span p
{
  font-size: 22px;
  text-align: left;
}
@media (max-width: 1200px)
{
  header
  {
    margin : 20px;
  }
}
@media (max-width: 768px) and (min-width: 300px)
{

  h1
  {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
    color: #069370;
    font-weight: 500;
  }
  .logo
  {
    color: white;
    height: 40px;
    font-size: 28px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 100;
    text-decoration: none;
  }
  .menu-toggle
  {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #ccc;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
  }
  .menu-toggle:before
  {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before
  {
    content: '\f00d';
  }
  nav
  {
    display: none;
  }
  nav.active
  {
    display: block;
    width: 100%;
  }
  nav.active ul
  {
    display: block;
  }
  nav.active ul li a
  {
    margin: 0;
  }
  div h1
  {
    font-size: 19px;
    text-align: left;
    color:  #069370;
    font-weight: 600;
    font-family: 'Source Serif Pro', serif;
  }
  div span
  {
    font-size: 15px;
    color: black;
    font: bold;
  }
  div.r span
  {
  font-size: 20px;
  font-family: 'Cantarell', sans-serif;
  color: white
  }
  div.r
  {
  width: 90;
  height: 30px;
  box-sizing : border-box;
  background: #4169E1;
  color: white;
  size: 60px;
  text-align: center;
  }
  div.text span
  {
  font-size: 18px;
  text-align: center;
  color:  #069370;
  font-weight: 600;
  font-family: 'Source Serif Pro', serif; 
  }
  p
  {
  font-size: 15px;
  text-align: left;
  } 
} 






